{:hosts
 [{:host
   {:name "i-009bcde05ff3930c3",
    :type "host",
    :created {:at 1520629307, :by 0},
    :update-policy {:id "B0D5C6EF-0007-1005-9BF4-080027CDAF96"},
    :modified {:at 1520629307, :by 0},
    :customer {:id 10701721},
    :status
    {:details [],
     :inst-type "host",
     :reported-by "clyde",
     :status "ok",
     :stream "offline",
     :timestamp 1520629306},
    :id "112324CB-6701-1005-BD98-0050568505BC",
    :metadata
    {:public-hostname "ec2-54-208-13-241.compute-1.amazonaws.com",
     :public-ipv-4 ["54.208.13.241"],
     :ec-2-instance-id "i-009bcde05ff3930c3",
     :ec-2-ami-id "ami-4bf3d731",
     :macs ["0a:d2:85:7d:52:9e"],
     :host-type "amazon_ec2",
     :ec-2-instance-type "t2.micro",
     :local-hostname "ip-172-31-7-89.ec2.internal",
     :ec-2-account-id "340159972813",
     :local-ipv-6 ["fe80::8d2:85ff:fe7d:529e"],
     :local-ipv-4 ["172.31.7.89"],
     :os-details
     "Linux; 3.10.0-693.11.6.el7.x86_64; #1 SMP Thu Jan 4 01:06:37 UTC 2018; x86_64",
     :is-role false,
     :ec-2-availability-zone "us-east-1c",
     :total-mem-mb 990,
     :version "1",
     :ec-2-vpc ["vpc-936c08f4"],
     :num-logical-processors 1,
     :ec-2-region "us-east-1",
     :os-type "unix"}}}
  {:host
   {:name "i-0075565cca8efb2cd",
    :type "host",
    :created {:at 1520629307, :by 0},
    :update-policy {:id "B0D5C6EF-0007-1005-9BF4-080027CDAF96"},
    :modified {:at 1520629307, :by 0},
    :customer {:id 10701721},
    :status
    {:details [],
     :inst-type "host",
     :reported-by "clyde",
     :status "ok",
     :stream "offline",
     :timestamp 1520755462},
    :id "1123E82E-6701-1005-A374-0050568525D9",
    :metadata
    {:public-hostname "ec2-54-173-106-78.compute-1.amazonaws.com",
     :public-ipv-4 ["54.173.106.78"],
     :ec-2-instance-id "i-0075565cca8efb2cd",
     :ec-2-ami-id "ami-4bf3d731",
     :macs ["0a:3e:f9:16:70:c8"],
     :host-type "amazon_ec2",
     :ec-2-instance-type "t2.micro",
     :local-hostname "ip-172-31-5-165.ec2.internal",
     :ec-2-account-id "340159972813",
     :local-ipv-6 ["fe80::83e:f9ff:fe16:70c8"],
     :local-ipv-4 ["172.31.5.165"],
     :os-details
     "Linux; 3.10.0-693.11.6.el7.x86_64; #1 SMP Thu Jan 4 01:06:37 UTC 2018; x86_64",
     :is-role false,
     :ec-2-availability-zone "us-east-1c",
     :total-mem-mb 990,
     :version "1",
     :ec-2-vpc ["vpc-936c08f4"],
     :num-logical-processors 1,
     :ec-2-region "us-east-1",
     :os-type "unix"}}}
  {:host
   {:name "i-046c7cb8423b1adbb",
    :type "host",
    :created {:at 1501855922, :by 0},
    :update-policy {:id "B0D5C6EF-0007-1005-9BF4-080027CDAF96"},
    :modified {:at 1501855922, :by 0},
    :customer {:id 10701721},
    :status
    {:details [],
     :inst-type "host",
     :reported-by "clyde",
     :status "offline",
     :stream "offline",
     :timestamp 1515712328},
    :id "14B9056A-55EE-1005-BD0A-0050568525D9",
    :metadata
    {:ec-2-instance-id "i-046c7cb8423b1adbb",
     :ec-2-ami-id "ami-cd0f5cb6",
     :macs ["02:f6:7a:70:14:84"],
     :host-type "amazon_ec2",
     :ec-2-instance-type "t2.medium",
     :local-hostname "ip-172-18-32-35.ec2.internal",
     :ec-2-account-id "340159972813",
     :local-ipv-6 ["fe80::f6:7aff:fe70:1484"],
     :local-ipv-4 ["172.18.32.35"],
     :os-details
     "Linux; 4.4.0-1035-aws; #44-Ubuntu SMP Tue Sep 12 17:27:47 UTC 2017; x86_64",
     :is-role false,
     :ec-2-availability-zone "us-east-1a",
     :total-mem-mb 3950,
     :version "1",
     :ec-2-vpc ["vpc-999ae9e0"],
     :num-logical-processors 2,
     :ec-2-region "us-east-1",
     :os-type "unix"}}}],
 :total-count 3}
