[{:s-3aws
  {:tags [],
   :credential-id "04488FA6-55B6-1005-9CA5-005056853046",
   :name "al-cloudtrail-test",
   :created {:at 1501615127, :by 50003103},
   :modified {:at 1501615127, :by 50003103},
   :status
   {:details [{:ok ""}],
    :status "ok",
    :timestamp 1501615292,
    :updated 1520545709},
   :sqs-queue "al-cloudtrail-test",
   :aws-region "us-east-1",
   :id "0448F946-55B6-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-account-id "340159972813",
    :public-hostname "aws.amazon.com",
    :sqs-endpoint "sqs.us-east-1.amazonaws.com",
    :sqs-queue-name "al-cloudtrail-test"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-0ea7abd92c9390897",
   :created {:at 1502482958, :by 0},
   :agent {:host-id "11A4D164-5680-1005-BD0A-0050568525D9"},
   :modified {:at 1502482958, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502484910,
    :updated 1502484910},
   :id "1303951C-5680-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-0ea7abd92c9390897",
    :ec-2-ami-id "ami-9e2f0988",
    :macs ["12:e4:59:bf:0e:ae"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-42-196.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::10e4:59ff:febf:eae"],
    :local-ipv-4 ["172.18.42.196"],
    :os-details
    "Linux; 3.10.0-514.21.2.el7.x86_64; #1 SMP Sun May 28 17:08:21 EDT 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 991,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-04ff322ad37c1f0a0",
   :created {:at 1502483017, :by 0},
   :agent {:host-id "152B8FFC-5680-1005-BD0A-0050568525D9"},
   :modified {:at 1502483017, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502484817,
    :updated 1502484817},
   :id "1687D851-5680-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-04ff322ad37c1f0a0",
    :ec-2-ami-id "ami-ae7bfdb8",
    :macs ["12:8c:19:c9:fd:96"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-47-7.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::108c:19ff:fec9:fd96"],
    :local-ipv-4 ["172.18.47.7"],
    :os-details
    "Linux; 3.10.0-514.10.2.el7.x86_64; #1 SMP Fri Mar 3 00:04:05 UTC 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 991,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-0166ec246721cb802",
   :created {:at 1502394417, :by 0},
   :agent {:host-id "757830EB-566B-1005-B1B3-0050568505BC"},
   :modified {:at 1502394417, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502416819,
    :updated 1502416819},
   :id "75842A63-566B-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-0166ec246721cb802",
    :ec-2-ami-id "ami-a4c7edb2",
    :macs ["12:81:ef:17:9f:86"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-44-105.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::1081:efff:fe17:9f86"],
    :local-ipv-4 ["172.18.44.105"],
    :os-details
    "Linux; 4.9.32-15.41.amzn1.x86_64; #1 SMP Thu Jun 22 06:20:54 UTC 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 993,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-0ed6e36c488da9040",
   :created {:at 1502493431, :by 0},
   :agent {:host-id "83390F4B-5682-1005-B1B3-0050568505BC"},
   :modified {:at 1502493431, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502495204,
    :updated 1502495204},
   :id "8346DCFE-5682-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-0ed6e36c488da9040",
    :ec-2-ami-id "ami-841f46ff",
    :macs ["12:1b:6a:39:c3:48"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-43-96.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::101b:6aff:fe39:c348"],
    :local-ipv-4 ["172.18.43.96"],
    :os-details
    "Linux; 3.13.0-125-generic; #174-Ubuntu SMP Mon Jul 10 18:51:24 UTC 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 992,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-0dfdc0d35064af049",
   :created {:at 1502493887, :by 0},
   :agent {:host-id "9E69D115-5682-1005-BD0A-0050568525D9"},
   :modified {:at 1502493887, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502495467,
    :updated 1502495467},
   :id "9E73D2CC-5682-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-0dfdc0d35064af049",
    :ec-2-ami-id "ami-a4c7edb2",
    :macs ["12:b1:d6:f5:0b:66"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-40-77.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::10b1:d6ff:fef5:b66"],
    :local-ipv-4 ["172.18.40.77"],
    :os-details
    "Linux; 4.9.32-15.41.amzn1.x86_64; #1 SMP Thu Jun 22 06:20:54 UTC 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 993,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-0bc80da5a0b28b39c",
   :created {:at 1502493900, :by 0},
   :agent {:host-id "9F2B7837-5682-1005-B1B3-0050568505BC"},
   :modified {:at 1502493900, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502495471,
    :updated 1502495471},
   :id "9F367DA7-5682-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-0bc80da5a0b28b39c",
    :ec-2-ami-id "ami-9e2f0988",
    :macs ["12:08:e8:8f:67:64"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-42-181.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::1008:e8ff:fe8f:6764"],
    :local-ipv-4 ["172.18.42.181"],
    :os-details
    "Linux; 3.10.0-514.21.2.el7.x86_64; #1 SMP Sun May 28 17:08:21 EDT 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 991,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-00cb92367140f67b4",
   :created {:at 1502490216, :by 0},
   :agent {:host-id "C19E2292-5681-1005-B1B3-0050568505BC"},
   :modified {:at 1502490216, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502495404,
    :updated 1502495404},
   :id "C3998E99-5681-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-00cb92367140f67b4",
    :ec-2-ami-id "ami-9e2f0988",
    :macs ["12:20:10:1a:70:58"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-46-222.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::1020:10ff:fe1a:7058"],
    :local-ipv-4 ["172.18.46.222"],
    :os-details
    "Linux; 3.10.0-514.21.2.el7.x86_64; #1 SMP Sun May 28 17:08:21 EDT 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 991,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-0c599eab4c402f7f5",
   :created {:at 1502490414, :by 0},
   :agent {:host-id "CC3F778D-5681-1005-B1B3-0050568505BC"},
   :modified {:at 1502490414, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502495515,
    :updated 1502495515},
   :id "CF680EB0-5681-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-0c599eab4c402f7f5",
    :ec-2-ami-id "ami-ae7bfdb8",
    :macs ["12:c7:be:21:bb:90"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-47-125.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::10c7:beff:fe21:bb90"],
    :local-ipv-4 ["172.18.47.125"],
    :os-details
    "Linux; 3.10.0-514.10.2.el7.x86_64; #1 SMP Fri Mar 3 00:04:05 UTC 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 991,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-0debcce09cb7197dc",
   :created {:at 1502490519, :by 0},
   :agent {:host-id "D39BDCAE-5681-1005-B1B3-0050568505BC"},
   :modified {:at 1502490519, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502495524,
    :updated 1502495524},
   :id "D5B2C4D8-5681-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-0debcce09cb7197dc",
    :ec-2-ami-id "ami-ae7bfdb8",
    :macs ["12:02:c2:b3:5a:da"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-45-128.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::1002:c2ff:feb3:5ada"],
    :local-ipv-4 ["172.18.45.128"],
    :os-details
    "Linux; 3.10.0-514.10.2.el7.x86_64; #1 SMP Fri Mar 3 00:04:05 UTC 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 991,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-0d125636a074ecc1c",
   :created {:at 1502486559, :by 0},
   :agent {:host-id "E807B75B-5680-1005-B1B3-0050568505BC"},
   :modified {:at 1502486559, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502489885,
    :updated 1502489885},
   :id "E9AC1A5E-5680-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-0d125636a074ecc1c",
    :ec-2-ami-id "ami-ae7bfdb8",
    :macs ["12:af:bc:2e:f5:32"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-41-251.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::10af:bcff:fe2e:f532"],
    :local-ipv-4 ["172.18.41.251"],
    :os-details
    "Linux; 3.10.0-514.10.2.el7.x86_64; #1 SMP Fri Mar 3 00:04:05 UTC 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 991,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-00e222fdc1f64c7d4",
   :created {:at 1502499522, :by 0},
   :agent {:host-id "EE3E40C4-5683-1005-BD0A-0050568525D9"},
   :modified {:at 1502499522, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502502197,
    :updated 1502502197},
   :id "EE48C814-5683-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-00e222fdc1f64c7d4",
    :ec-2-ami-id "ami-841f46ff",
    :macs ["12:1e:67:90:8a:38"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-45-22.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::101e:67ff:fe90:8a38"],
    :local-ipv-4 ["172.18.45.22"],
    :os-details
    "Linux; 3.13.0-125-generic; #174-Ubuntu SMP Mon Jul 10 18:51:24 UTC 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 992,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-0a2fdaebfdc5e90ad",
   :created {:at 1502499732, :by 0},
   :agent {:host-id "FAC57377-5683-1005-B1B3-0050568505BC"},
   :modified {:at 1502499732, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502502176,
    :updated 1502502176},
   :id "FAD3C320-5683-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-0a2fdaebfdc5e90ad",
    :ec-2-ami-id "ami-a4c7edb2",
    :macs ["12:09:66:ad:d0:8a"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-45-103.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::1009:66ff:fead:d08a"],
    :local-ipv-4 ["172.18.45.103"],
    :os-details
    "Linux; 4.9.32-15.41.amzn1.x86_64; #1 SMP Thu Jun 22 06:20:54 UTC 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 993,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-035a263b35dc977b7",
   :created {:at 1502499760, :by 0},
   :agent {:host-id "FC66509A-5683-1005-B1B3-0050568505BC"},
   :modified {:at 1502499760, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502502168,
    :updated 1502502168},
   :id "FC798990-5683-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-035a263b35dc977b7",
    :ec-2-ami-id "ami-9e2f0988",
    :macs ["12:f3:b0:0c:2d:a4"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-44-233.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::10f3:b0ff:fe0c:2da4"],
    :local-ipv-4 ["172.18.44.233"],
    :os-details
    "Linux; 3.10.0-514.21.2.el7.x86_64; #1 SMP Sun May 28 17:08:21 EDT 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 991,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-02c5d716bed55c51b",
   :created {:at 1502499765, :by 0},
   :agent {:host-id "FCC3AB70-5683-1005-BD0A-0050568525D9"},
   :modified {:at 1502499765, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1502502392,
    :updated 1502502392},
   :id "FCCDEB6B-5683-1005-9CA5-005056853046",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-02c5d716bed55c51b",
    :ec-2-ami-id "ami-ae7bfdb8",
    :macs ["12:5b:e7:33:82:c8"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-18-44-197.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::105b:e7ff:fe33:82c8"],
    :local-ipv-4 ["172.18.44.197"],
    :os-details
    "Linux; 3.10.0-514.10.2.el7.x86_64; #1 SMP Fri Mar 3 00:04:05 UTC 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 991,
    :version "1",
    :ec-2-vpc ["vpc-4ef2e228"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}]
