[{:eventlog
  {:remote {:host-ip-address "", :time-zone nil},
   :tags [{:name "Vormetric"}],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "PDP SurfaceBook (desktop-k6a70tg)",
   :created {:at 1516420232, :by 0},
   :agent {:host-id "1811211B-632D-1005-8707-0050568525D9"},
   :modified {:at 1516420309, :by 30770},
   :status
   {:details [],
    :status "ok",
    :timestamp 1520993177,
    :updated 1520993177},
   :id "19502D06-632D-1005-85FF-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:host-type "standalone",
    :local-hostname "desktop-k6a70tg",
    :local-ipv-6
    ["fe80::197a:58f8:b1c6:24c4"
     "fe80::2090:163:f5ff:ffe3"
     "fe80::5439:4838:493b:2f6b"
     "fe80::9833:c127:a949:f51"
     "fe80::adf2:d118:5530:b40e"
     "fe80::d12d:bf58:be53:4c7"],
    :local-ipv-4
    ["10.0.0.28"
     "169.254.4.199"
     "192.168.131.1"
     "192.168.56.1"
     "192.168.64.1"],
    :os-details "Windows 10 Pro; 6.2.9200; RTM; x86_64",
    :is-role false,
    :total-mem-mb 16309,
    :public-ipv-6 ["2001:0:9d38:90d7:2090:163:f5ff:ffe3"],
    :version "1",
    :num-logical-processors 4,
    :os-type "windows"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-0075565cca8efb2cd",
   :created {:at 1520629307, :by 0},
   :agent {:host-id "1123E82E-6701-1005-A374-0050568525D9"},
   :modified {:at 1520629307, :by 0},
   :status
   {:details [],
    :status "ok",
    :timestamp 1520629302,
    :updated 1520951097},
   :id "19B76ECB-6701-1005-A8B8-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:public-hostname "ec2-54-173-106-78.compute-1.amazonaws.com",
    :public-ipv-4 ["54.173.106.78"],
    :ec-2-instance-id "i-0075565cca8efb2cd",
    :ec-2-ami-id "ami-4bf3d731",
    :macs ["0a:3e:f9:16:70:c8"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-31-5-165.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::83e:f9ff:fe16:70c8"],
    :local-ipv-4 ["172.31.5.165"],
    :os-details
    "Linux; 3.10.0-693.11.6.el7.x86_64; #1 SMP Thu Jan 4 01:06:37 UTC 2018; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1c",
    :total-mem-mb 990,
    :version "1",
    :ec-2-vpc ["vpc-936c08f4"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-009bcde05ff3930c3",
   :created {:at 1520629307, :by 0},
   :agent {:host-id "112324CB-6701-1005-BD98-0050568505BC"},
   :modified {:at 1520629307, :by 0},
   :status
   {:details [],
    :status "ok",
    :timestamp 1520629325,
    :updated 1520933483},
   :id "19B77D67-6701-1005-A8B8-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:public-hostname "ec2-54-208-13-241.compute-1.amazonaws.com",
    :public-ipv-4 ["54.208.13.241"],
    :ec-2-instance-id "i-009bcde05ff3930c3",
    :ec-2-ami-id "ami-4bf3d731",
    :macs ["0a:d2:85:7d:52:9e"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-31-7-89.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::8d2:85ff:fe7d:529e"],
    :local-ipv-4 ["172.31.7.89"],
    :os-details
    "Linux; 3.10.0-693.11.6.el7.x86_64; #1 SMP Thu Jan 4 01:06:37 UTC 2018; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1c",
    :total-mem-mb 990,
    :version "1",
    :ec-2-vpc ["vpc-936c08f4"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}
 {:s-3aws
  {:tags [],
   :credential-id "3827CDBD-5A09-1005-B8B9-0050568532D4",
   :name "Rackspace",
   :created {:at 1506370527, :by 0},
   :modified {:at 1506370527, :by 0},
   :status
   {:details [{:ok ""}],
    :status "ok",
    :timestamp 1517476905,
    :updated 1521045014},
   :sqs-queue "RMS-FAWS-2-AL-TM-LM-Unified-ALSQSQueue-VNX814VPUFMN",
   :aws-region "us-east-1",
   :id "38320278-5A09-1005-B8B9-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 22261817,
    :last-day-events 19505,
    :last-hour-bytes 3304089,
    :last-hour-events 2952,
    :last-month-bytes 1024126031,
    :last-month-events 909006,
    :last-update-ts 1521043200},
   :metadata
   {:ec-2-account-id "340159972813",
    :public-hostname "aws.amazon.com",
    :sqs-endpoint "sqs.us-east-1.amazonaws.com",
    :sqs-queue-name
    "RMS-FAWS-2-AL-TM-LM-Unified-ALSQSQueue-VNX814VPUFMN"}}}
 {:eventlog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "i-096ea85ac33e797aa",
   :created {:at 1508350713, :by 0},
   :agent {:host-id "E61EC383-55DE-1005-B1B3-0050568505BC"},
   :modified {:at 1508350713, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1515712360,
    :updated 1515712360},
   :id "4480AD8F-5BD6-1005-AA1F-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-096ea85ac33e797aa",
    :ec-2-ami-id "ami-7da4ab6b",
    :macs ["02:f8:a3:b3:31:a0"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.medium",
    :local-hostname "ip-172-18-32-22.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-4 ["172.18.32.22"],
    :os-details "Windows Server 2012 Standard; 6.2.9200; RTM; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1a",
    :total-mem-mb 4095,
    :version "1",
    :ec-2-vpc ["vpc-999ae9e0"],
    :num-logical-processors 2,
    :ec-2-region "us-east-1",
    :os-type "windows"}}}
 {:eventlog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "vm-win2012r2",
   :created {:at 1517425987, :by 0},
   :agent {:host-id "44DA2BA6-6417-1005-8707-0050568525D9"},
   :modified {:at 1517425987, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1519244940,
    :updated 1519244940},
   :id "44ED1311-6417-1005-ACC3-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 5694273,
    :last-month-events 2201,
    :last-update-ts 1519171200},
   :metadata
   {:host-type "standalone",
    :local-hostname "vm-win2012r2",
    :local-ipv-4 ["10.0.20.2"],
    :os-details
    "Windows Server 2012 R2 Datacenter; 6.2.9200; RTM; x86_64",
    :is-role false,
    :total-mem-mb 3839,
    :version "1",
    :num-logical-processors 1,
    :os-type "windows"}}}
 {:eventlog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "vm-win2016",
   :created {:at 1517425987, :by 0},
   :agent {:host-id "44E9DFE1-6417-1005-8707-0050568525D9"},
   :modified {:at 1517425987, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1517934514,
    :updated 1517934514},
   :id "44FAD534-6417-1005-ACC3-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:host-type "standalone",
    :local-hostname "vm-win2016",
    :local-ipv-4 ["10.0.30.2"],
    :os-details
    "Windows Server 2016 Datacenter; 6.2.9200; RTM; x86_64",
    :is-role false,
    :total-mem-mb 4863,
    :version "1",
    :num-logical-processors 1,
    :os-type "windows"}}}
 {:eventlog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "vm-win2008r2",
   :created {:at 1517425988, :by 0},
   :agent {:host-id "44F4AAE4-6417-1005-8707-0050568525D9"},
   :modified {:at 1517425988, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1517934501,
    :updated 1517934501},
   :id "4505611F-6417-1005-ACC3-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:host-type "standalone",
    :local-hostname "vm-win2008r2",
    :local-ipv-4 ["10.0.10.2"],
    :os-details
    "Windows Server 2008 R2 Datacenter; 6.1.7601; Service Pack 1; x86_64",
    :is-role false,
    :total-mem-mb 3839,
    :version "1",
    :num-logical-processors 1,
    :os-type "windows"}}}
 {:eventlog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "i-08410b83b2e808bcc",
   :created {:at 1513182800, :by 0},
   :agent {:host-id "53466B20-603B-1005-BD98-0050568505BC"},
   :modified {:at 1513182800, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1514925996,
    :updated 1514925996},
   :id "5353FEF1-603B-1005-A737-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:public-hostname "ec2-34-205-255-248.compute-1.amazonaws.com",
    :public-ipv-4 ["34.205.255.248"],
    :ec-2-instance-id "i-08410b83b2e808bcc",
    :ec-2-ami-id "ami-08910872",
    :macs ["02:ca:92:e9:15:b8"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.medium",
    :local-hostname "ip-172-18-2-27.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::55ba:63cb:b3c8:e9f6" "fe80::c88:1753:dd32:7"],
    :local-ipv-4 ["172.18.2.27"],
    :os-details
    "Windows Server 2016 Datacenter; 6.2.9200; RTM; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1a",
    :total-mem-mb 4095,
    :public-ipv-6 ["2001:0:4137:9e76:c88:1753:dd32:7"],
    :version "1",
    :ec-2-vpc ["vpc-999ae9e0"],
    :num-logical-processors 2,
    :ec-2-region "us-east-1",
    :os-type "windows"}}}
 {:eventlog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "i-0f9c589a82f6b6ae9",
   :created {:at 1513182818, :by 0},
   :agent {:host-id "544D0188-603B-1005-BD98-0050568505BC"},
   :modified {:at 1513182818, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1514925957,
    :updated 1514925957},
   :id "545981FB-603B-1005-A737-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:public-hostname "ec2-54-236-55-119.compute-1.amazonaws.com",
    :public-ipv-4 ["54.236.55.119"],
    :ec-2-instance-id "i-0f9c589a82f6b6ae9",
    :ec-2-ami-id "ami-08910872",
    :macs ["02:6f:53:b3:99:3e"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.medium",
    :local-hostname "ip-172-18-1-36.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6
    ["fe80::3456:8e13:bb5b:262b" "fe80::3c20:12a:c913:c888"],
    :local-ipv-4 ["172.18.1.36"],
    :os-details
    "Windows Server 2016 Datacenter; 6.2.9200; RTM; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1a",
    :total-mem-mb 4095,
    :public-ipv-6 ["2001:0:4137:9e76:3c20:12a:c913:c888"],
    :version "1",
    :ec-2-vpc ["vpc-999ae9e0"],
    :num-logical-processors 2,
    :ec-2-region "us-east-1",
    :os-type "windows"}}}
 {:eventlog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "i-0fbc24aaacdcb6964",
   :created {:at 1508351294, :by 0},
   :agent {:host-id "66E7F7A0-5BD6-1005-B1B3-0050568505BC"},
   :modified {:at 1508351294, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1515712169,
    :updated 1515712169},
   :id "67119D6C-5BD6-1005-AA1F-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-0fbc24aaacdcb6964",
    :ec-2-ami-id "ami-5648ad2c",
    :macs ["02:ac:14:27:30:00"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.medium",
    :local-hostname "ip-172-18-34-22.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6
    ["fe80::1dac:4889:650:f207" "fe80::20f0:309:dd19:43fd"],
    :local-ipv-4 ["172.18.34.22"],
    :os-details
    "Windows Server 2016 Datacenter; 6.2.9200; RTM; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1a",
    :total-mem-mb 4095,
    :public-ipv-6 ["2001:0:4137:9e76:20f0:309:dd19:43fd"],
    :version "1",
    :ec-2-vpc ["vpc-999ae9e0"],
    :num-logical-processors 2,
    :ec-2-region "us-east-1",
    :os-type "windows"}}}
 {:eventlog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "i-0067b83d5fb5073f4",
   :created {:at 1508184811, :by 0},
   :agent {:host-id "B114BC05-55DE-1005-BD0A-0050568525D9"},
   :modified {:at 1508184811, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1515712248,
    :updated 1515712248},
   :id "A3E56903-5BAF-1005-A2A5-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:public-hostname "ec2-34-231-231-58.compute-1.amazonaws.com",
    :public-ipv-4 ["34.231.231.58"],
    :ec-2-instance-id "i-0067b83d5fb5073f4",
    :ec-2-ami-id "ami-d4dfd1c2",
    :macs ["02:73:25:d8:77:36"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.large",
    :local-hostname "ip-172-18-1-45.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6
    ["fe80::8cb:2334:53ed:fed2" "fe80::e4b8:664:db29:d2d6"],
    :local-ipv-4 ["172.18.1.45"],
    :os-details
    "Windows Server 2016 Datacenter; 6.2.9200; RTM; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1a",
    :total-mem-mb 8191,
    :public-ipv-6 ["2001:0:4137:9e76:8cb:2334:53ed:fed2"],
    :version "1",
    :ec-2-vpc ["vpc-999ae9e0"],
    :num-logical-processors 2,
    :ec-2-region "us-east-1",
    :os-type "windows"}}}
 {:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "i-046c7cb8423b1adbb",
   :created {:at 1508186128, :by 0},
   :agent {:host-id "14B9056A-55EE-1005-BD0A-0050568525D9"},
   :modified {:at 1508186128, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1515712369,
    :updated 1515712369},
   :id "F27385D7-5BAF-1005-A2A5-0050568532D4",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:ec-2-instance-id "i-046c7cb8423b1adbb",
    :ec-2-ami-id "ami-cd0f5cb6",
    :macs ["02:f6:7a:70:14:84"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.medium",
    :local-hostname "ip-172-18-32-35.ec2.internal",
    :ec-2-account-id "340159972813",
    :local-ipv-6 ["fe80::f6:7aff:fe70:1484"],
    :local-ipv-4 ["172.18.32.35"],
    :os-details
    "Linux; 4.4.0-1035-aws; #44-Ubuntu SMP Tue Sep 12 17:27:47 UTC 2017; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1a",
    :total-mem-mb 3950,
    :version "1",
    :ec-2-vpc ["vpc-999ae9e0"],
    :num-logical-processors 2,
    :ec-2-region "us-east-1",
    :os-type "unix"}}}]
