({:syslog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "agent",
   :name "rms-rhel7",
   :created {:at 1481142315, :by 0},
   :agent {:host-id "48A11349-4317-1005-88AB-0050568525D9"},
   :modified {:at 1481142315, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1493770744,
    :updated 1493770744},
   :id "5195F5E5-4317-1005-AD2E-005056855A48",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:host-type "standalone",
    :local-hostname "rms-rhel7",
    :local-ipv-6 ["fe80::20d:3aff:fe70:2185"],
    :local-ipv-4 ["172.16.194.5"],
    :os-details
    "Linux; 3.10.0-327.36.3.el7.x86_64; #1 SMP Thu Oct 20 04:56:07 EDT 2016; x86_64",
    :is-role false,
    :total-mem-mb 3,
    :version "1",
    :num-logical-processors 2,
    :os-type "unix"}}}
 {:syslog
  {:remote
   {:appliance-id "ADED94AF-4AE4-1005-BFFF-0050568505BC",
    :time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "remote",
   :name "555555-lbal",
   :created {:at 1489724522, :by 0},
   :agent {:host-id "84F30AC0-4AE5-1005-A304-005056855A48"},
   :modified {:at 1489724522, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1489985452,
    :updated 1489985452},
   :id "84F32227-4AE5-1005-A304-005056855A48",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:host-type "remote",
    :network-id "ADED94AF-4AE4-1005-BFFF-0050568505BC",
    :local-hostname "555555-lbal",
    :remote-host-id "555555-lbal"}}}
 {:syslog
  {:remote
   {:appliance-id "ADED94AF-4AE4-1005-BFFF-0050568505BC",
    :time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "remote",
   :name "172.25.241.245",
   :created {:at 1489720940, :by 0},
   :agent {:host-id "AF76A9A0-4AE4-1005-A304-005056855A48"},
   :modified {:at 1489720940, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1489985419,
    :updated 1489985419},
   :id "AF76BBC4-4AE4-1005-A304-005056855A48",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:host-type "remote",
    :local-ipv-4 ["172.25.241.245"],
    :network-id "ADED94AF-4AE4-1005-BFFF-0050568505BC",
    :remote-host-id "172.25.241.245"}}}
 {:syslog
  {:remote
   {:appliance-id "ADED94AF-4AE4-1005-BFFF-0050568505BC",
    :time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "remote",
   :name "172.25.241.246",
   :created {:at 1489720940, :by 0},
   :agent {:host-id "AF78D836-4AE4-1005-A304-005056855A48"},
   :modified {:at 1489720940, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1489985452,
    :updated 1489985452},
   :id "AF78F22D-4AE4-1005-A304-005056855A48",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:host-type "remote",
    :local-ipv-4 ["172.25.241.246"],
    :network-id "ADED94AF-4AE4-1005-BFFF-0050568505BC",
    :remote-host-id "172.25.241.246"}}}
 {:syslog
  {:remote
   {:appliance-id "ADED94AF-4AE4-1005-BFFF-0050568505BC",
    :time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "remote",
   :name "666666-lbal2",
   :created {:at 1489720940, :by 0},
   :agent {:host-id "AF7E2051-4AE4-1005-A304-005056855A48"},
   :modified {:at 1489720940, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1489985419,
    :updated 1489985419},
   :id "AF7E4F03-4AE4-1005-A304-005056855A48",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:host-type "remote",
    :network-id "ADED94AF-4AE4-1005-BFFF-0050568505BC",
    :local-hostname "666666-lbal2",
    :remote-host-id "666666-lbal2"}}}
 {:syslog
  {:remote
   {:appliance-id "ADED94AF-4AE4-1005-BFFF-0050568505BC",
    :time-zone "America/Chicago"},
   :tags [],
   :policy-id "7135663A-04EA-4F1D-A436-ADFEF069D4BA",
   :method "remote",
   :name "FW",
   :created {:at 1489720941, :by 0},
   :agent {:host-id "AF81025E-4AE4-1005-A304-005056855A48"},
   :modified {:at 1489720941, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1489985419,
    :updated 1489985419},
   :id "AF8114B3-4AE4-1005-A304-005056855A48",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:host-type "remote",
    :network-id "ADED94AF-4AE4-1005-BFFF-0050568505BC",
    :local-hostname "FW",
    :remote-host-id "FW"}}}
 {:eventlog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "rms",
   :created {:at 1479920158, :by 0},
   :agent {:host-id "C3450DD1-41FA-1005-AFED-0050568505BC"},
   :modified {:at 1479920158, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1486665505,
    :updated 1486665505},
   :id "C35CD877-41FA-1005-BB82-005056855A48",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:host-type "standalone",
    :local-hostname "rms",
    :local-ipv-6
    ["fe80::38b0:1017:53ef:3dfb" "fe80::a958:7acc:4803:4756"],
    :local-ipv-4 ["172.16.194.4"],
    :os-details
    "Windows Server 2012 R2 Datacenter; 6.2.9200; RTM; x86_64",
    :is-role false,
    :total-mem-mb 14335,
    :public-ipv-6 ["2001:0:d59:2ec8:38b0:1017:53ef:3dfb"],
    :version "1",
    :num-logical-processors 2,
    :os-type "windows"}}}
 {:eventlog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "i-644cec9c",
   :created {:at 1466704618, :by 0},
   :agent {:host-id "C7B461BD-35F5-1005-8663-0050568525D9"},
   :modified {:at 1466704618, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1466705546,
    :updated 1466705546},
   :id "C7C3A182-35F5-1005-9998-005056855A48",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:public-hostname "ec2-54-84-130-224.compute-1.amazonaws.com",
    :public-ipv-4 ["54.84.130.224"],
    :ec-2-instance-id "i-644cec9c",
    :ec-2-ami-id "ami-79dc1b14",
    :macs ["06:6b:82:d2:35:d9"],
    :host-type "amazon_ec2",
    :ec-2-instance-type "t2.micro",
    :local-hostname "ip-172-30-1-208.ec2.internal",
    :ec-2-account-id "917000259013",
    :local-ipv-6
    ["fe80::2ce2:20db:53e1:fe2f" "fe80::30c2:53bd:1169:f7d7"],
    :local-ipv-4 ["172.30.1.208"],
    :os-details
    "Windows Server 2012 R2 Standard; 6.2.9200; RTM; x86_64",
    :is-role false,
    :ec-2-availability-zone "us-east-1b",
    :total-mem-mb 1023,
    :public-ipv-6 ["2001:0:9d38:6ab8:2ce2:20db:53e1:fe2f"],
    :version "1",
    :ec-2-vpc ["vpc-f445eb93"],
    :num-logical-processors 1,
    :ec-2-region "us-east-1",
    :os-type "windows"}}}
 {:eventlog
  {:remote {:time-zone "America/Chicago"},
   :tags [],
   :policy-id "78EBE38F-EA61-4A02-BAF5-07F93E8CBBE1",
   :method "agent",
   :name "rwb01-42424242",
   :created {:at 1479920644, :by 0},
   :agent {:host-id "E01E2E4E-41FA-1005-AFED-0050568505BC"},
   :modified {:at 1479920644, :by 0},
   :status
   {:details [],
    :status "offline",
    :stream "offline",
    :timestamp 1487782201,
    :updated 1487782201},
   :id "E055D04F-41FA-1005-BB82-005056855A48",
   :enabled true,
   :stats
   {:last-day-bytes 0,
    :last-day-events 0,
    :last-hour-bytes 0,
    :last-hour-events 0,
    :last-month-bytes 0,
    :last-month-events 0,
    :last-update-ts 0},
   :metadata
   {:host-type "standalone",
    :local-hostname "rwb01-42424242",
    :local-ipv-6
    ["fe80::5cbc:581a:6664:ee3b" "fe80::9111:7f01:8ec7:4b70"],
    :local-ipv-4 ["169.254.75.112" "172.16.195.20"],
    :os-details
    "Windows Server 2012 R2 Datacenter; 6.2.9200; RTM; x86_64",
    :is-role false,
    :total-mem-mb 14335,
    :version "1",
    :num-logical-processors 2,
    :os-type "windows"}}})
