{:protectedhosts
 [{:protectedhost
   {:tags [{:name "RMS-TVA-Nexpose-Test-U1604LTS-1"}],
    :appliance
    {:assigned-to "32F3E640-5BAB-1005-B1B3-0050568505BC",
     :connected-to "172.18.32.146",
     :policy {:id "3301D23C-5BAB-1005-A2A5-0050568532D4"}},
    :config
    {:collection-method "agent",
     :policy {:id "36A9464A-2DD8-11E2-BD45-000C292244C8"},
     :time-zone "America/Chicago"},
    :name "i-046c7cb8423b1adbb",
    :type "host",
    :created {:at 1501855922, :by 0},
    :modified {:at 1513561895, :by 0},
    :status
    {:details [],
     :status "offline",
     :stream "offline",
     :timestamp 1515712379,
     :updated 1515712379},
    :id "14C33725-55EE-1005-870C-0050568532D4",
    :host-id "14B9056A-55EE-1005-BD0A-0050568525D9",
    :stats
    {:last-day-rx-byte-allowed-count 0,
     :last-month-rx-byte-ignored-count 0,
     :last-month-tx-packet-ignored-count 0,
     :last-month-tx-byte-allowed-count 0,
     :last-hour-tx-byte-allowed-count 0,
     :last-month-rx-packet-ignored-count 0,
     :last-day-rx-packet-allowed-count 0,
     :last-day-tx-byte-ignored-count 0,
     :last-update-ts 0,
     :last-month-rx-packet-allowed-count 0,
     :last-hour-tx-packet-allowed-count 0,
     :last-month-tx-byte-ignored-count 0,
     :last-hour-tx-byte-ignored-count 0,
     :last-hour-rx-packet-allowed-count 0,
     :last-day-rx-byte-ignored-count 0,
     :last-hour-tx-packet-ignored-count 0,
     :last-hour-rx-byte-allowed-count 0,
     :last-hour-rx-packet-ignored-count 0,
     :last-hour-rx-byte-ignored-count 0,
     :last-day-tx-packet-allowed-count 0,
     :last-day-tx-packet-ignored-count 0,
     :last-day-tx-byte-allowed-count 0,
     :last-day-rx-packet-ignored-count 0,
     :last-month-tx-packet-allowed-count 0,
     :last-month-rx-byte-allowed-count 0},
    :metadata
    {:ec-2-instance-id "i-046c7cb8423b1adbb",
     :ec-2-ami-id "ami-cd0f5cb6",
     :macs ["02:f6:7a:70:14:84"],
     :host-type "amazon_ec2",
     :ec-2-instance-type "t2.medium",
     :local-hostname "ip-172-18-32-35.ec2.internal",
     :ec-2-account-id "340159972813",
     :local-ipv-6 ["fe80::f6:7aff:fe70:1484"],
     :local-ipv-4 ["172.18.32.35"],
     :os-details
     "Linux; 4.4.0-1035-aws; #44-Ubuntu SMP Tue Sep 12 17:27:47 UTC 2017; x86_64",
     :is-role false,
     :ec-2-availability-zone "us-east-1a",
     :total-mem-mb 3950,
     :version "1",
     :ec-2-vpc ["vpc-999ae9e0"],
     :num-logical-processors 2,
     :ec-2-region "us-east-1",
     :os-type "unix"}}}
  {:protectedhost
   {:tags [{:name "Frances"}],
    :appliance
    {:assigned-to "DB25B469-66FC-1005-A374-0050568525D9",
     :connected-to "172.31.13.60",
     :policy {:id "2793528B-66FC-1005-A8B8-0050568532D4"}},
    :config
    {:collection-method "agent",
     :policy {:id "36A9464A-2DD8-11E2-BD45-000C292244C8"},
     :time-zone "America/Chicago"},
    :name "i-0075565cca8efb2cd",
    :type "host",
    :created {:at 1520629307, :by 0},
    :modified {:at 1520629698, :by 0},
    :status
    {:details [],
     :status "ok",
     :timestamp 1520629676,
     :updated 1521044349},
    :id "19B8FE25-6701-1005-A8B8-0050568532D4",
    :host-id "1123E82E-6701-1005-A374-0050568525D9",
    :stats
    {:last-month-tcp-out false,
     :last-day-ttl-other false,
     :last-month-tcp-in false,
     :last-hour-ttl-other false,
     :last-day-rx-byte-allowed-count 3071249,
     :last-month-trend false,
     :last-month-rx-byte-ignored-count 0,
     :last-month-tx-packet-ignored-count 0,
     :last-month-vlan false,
     :last-hour-down false,
     :last-hour-trend false,
     :last-month-tx-byte-allowed-count 20101034,
     :last-hour-tcp-in false,
     :last-month-ttl-other false,
     :last-day-trend false,
     :last-hour-tx-byte-allowed-count 157596,
     :last-day-tcp-out false,
     :last-hour-vlan false,
     :last-month-rx-packet-ignored-count 0,
     :last-day-rx-packet-allowed-count 24090,
     :last-day-tx-byte-ignored-count 0,
     :last-day-vlanu false,
     :last-day-tcpsm false,
     :last-update-ts 1521043200,
     :last-month-rx-packet-allowed-count 186823,
     :last-hour-tx-packet-allowed-count 1560,
     :last-hour-tcp-out false,
     :last-month-tx-byte-ignored-count 0,
     :last-day-tcpsum false,
     :last-hour-tcpsum false,
     :last-hour-tx-byte-ignored-count 0,
     :last-hour-rx-packet-allowed-count 1568,
     :last-day-rx-byte-ignored-count 0,
     :last-hour-vlanu false,
     :last-day-down false,
     :last-day-tcp-in false,
     :last-day-ttl-ok false,
     :last-hour-tx-packet-ignored-count 0,
     :last-month-tcpsm false,
     :last-hour-rx-byte-allowed-count 200504,
     :last-hour-rx-packet-ignored-count 0,
     :last-hour-ttl-ok false,
     :last-hour-rx-byte-ignored-count 0,
     :last-month-vlanu false,
     :last-day-tx-packet-allowed-count 24242,
     :last-month-tcpsum false,
     :last-month-ttl-ok false,
     :last-day-tx-packet-ignored-count 0,
     :last-day-tx-byte-allowed-count 2486393,
     :last-day-rx-packet-ignored-count 0,
     :last-month-down false,
     :last-month-tx-packet-allowed-count 186283,
     :last-day-vlan false,
     :last-month-rx-byte-allowed-count 23646595,
     :last-hour-tcpsm false},
    :metadata
    {:public-hostname "ec2-54-173-106-78.compute-1.amazonaws.com",
     :public-ipv-4 ["54.173.106.78"],
     :ec-2-instance-id "i-0075565cca8efb2cd",
     :ec-2-ami-id "ami-4bf3d731",
     :macs ["0a:3e:f9:16:70:c8"],
     :host-type "amazon_ec2",
     :ec-2-instance-type "t2.micro",
     :local-hostname "ip-172-31-5-165.ec2.internal",
     :ec-2-account-id "340159972813",
     :local-ipv-6 ["fe80::83e:f9ff:fe16:70c8"],
     :local-ipv-4 ["172.31.5.165"],
     :os-details
     "Linux; 3.10.0-693.11.6.el7.x86_64; #1 SMP Thu Jan 4 01:06:37 UTC 2018; x86_64",
     :is-role false,
     :ec-2-availability-zone "us-east-1c",
     :total-mem-mb 990,
     :version "1",
     :ec-2-vpc ["vpc-936c08f4"],
     :num-logical-processors 1,
     :ec-2-region "us-east-1",
     :os-type "unix"}}}
  {:protectedhost
   {:tags [{:name "Frances"}],
    :appliance
    {:assigned-to "DB25B469-66FC-1005-A374-0050568525D9",
     :connected-to "",
     :policy {:id "2793528B-66FC-1005-A8B8-0050568532D4"}},
    :config
    {:collection-method "agent",
     :policy {:id "36A9464A-2DD8-11E2-BD45-000C292244C8"},
     :time-zone "America/Chicago"},
    :name "i-009bcde05ff3930c3",
    :type "host",
    :created {:at 1520629307, :by 0},
    :modified {:at 1521045872, :by 0},
    :status
    {:details
     [{:error
       "PFW30016 Failed to connect to 172.31.13.60: (110) Connection timed out"}
      {:error
       "PFW30016 Failed to connect to 54.90.199.207: (110) Connection timed out"}],
     :status "error",
     :stream "tmhost",
     :timestamp 1521045813,
     :updated 1521045825},
    :id "19B90BF9-6701-1005-A8B8-0050568532D4",
    :host-id "112324CB-6701-1005-BD98-0050568505BC",
    :stats
    {:last-month-tcp-out false,
     :last-day-ttl-other false,
     :last-month-tcp-in false,
     :last-day-rx-byte-allowed-count 0,
     :last-month-trend false,
     :last-month-rx-byte-ignored-count 0,
     :last-month-tx-packet-ignored-count 0,
     :last-month-vlan false,
     :last-month-tx-byte-allowed-count 57358,
     :last-month-ttl-other false,
     :last-day-trend false,
     :last-hour-tx-byte-allowed-count 0,
     :last-day-tcp-out false,
     :last-month-rx-packet-ignored-count 0,
     :last-day-rx-packet-allowed-count 0,
     :last-day-tx-byte-ignored-count 0,
     :last-day-vlanu false,
     :last-day-tcpsm false,
     :last-update-ts 1520553600,
     :last-month-rx-packet-allowed-count 730,
     :last-hour-tx-packet-allowed-count 0,
     :last-month-tx-byte-ignored-count 0,
     :last-day-tcpsum false,
     :last-hour-tx-byte-ignored-count 0,
     :last-hour-rx-packet-allowed-count 0,
     :last-day-rx-byte-ignored-count 0,
     :last-day-down false,
     :last-day-tcp-in false,
     :last-day-ttl-ok false,
     :last-hour-tx-packet-ignored-count 0,
     :last-month-tcpsm false,
     :last-hour-rx-byte-allowed-count 0,
     :last-hour-rx-packet-ignored-count 0,
     :last-hour-rx-byte-ignored-count 0,
     :last-month-vlanu false,
     :last-day-tx-packet-allowed-count 0,
     :last-month-tcpsum false,
     :last-month-ttl-ok false,
     :last-day-tx-packet-ignored-count 0,
     :last-day-tx-byte-allowed-count 0,
     :last-day-rx-packet-ignored-count 0,
     :last-month-down false,
     :last-month-tx-packet-allowed-count 543,
     :last-day-vlan false,
     :last-month-rx-byte-allowed-count 74109},
    :metadata
    {:public-hostname "ec2-54-208-13-241.compute-1.amazonaws.com",
     :public-ipv-4 ["54.208.13.241"],
     :ec-2-instance-id "i-009bcde05ff3930c3",
     :ec-2-ami-id "ami-4bf3d731",
     :macs ["0a:d2:85:7d:52:9e"],
     :host-type "amazon_ec2",
     :ec-2-instance-type "t2.micro",
     :local-hostname "ip-172-31-7-89.ec2.internal",
     :ec-2-account-id "340159972813",
     :local-ipv-6 ["fe80::8d2:85ff:fe7d:529e"],
     :local-ipv-4 ["172.31.7.89"],
     :os-details
     "Linux; 3.10.0-693.11.6.el7.x86_64; #1 SMP Thu Jan 4 01:06:37 UTC 2018; x86_64",
     :is-role false,
     :ec-2-availability-zone "us-east-1c",
     :total-mem-mb 990,
     :version "1",
     :ec-2-vpc ["vpc-936c08f4"],
     :num-logical-processors 1,
     :ec-2-region "us-east-1",
     :os-type "unix"}}}],
 :total-count 3}

